#Ignore all but folders
*

#Dont ignore code folder
#NOTE If only it's possible to parameterize .gitignore and use placeholder as code folder name here...
!code/
!code/**/

#Dont ignore src files
!code/**/*.c
!code/**/*.cx
!code/**/*.cxx
!code/**/*.cpp

#Dont ignore header files
!code/**/*.h
!code/**/*.hx
!code/**/*.hxx
!code/**/*.hpp

#Dont ignore project files
!code/**/*.sln
!code/**/*.vcxproj

#Dont ignore build files
!code/**/CMakeLists*


!.gitignore

!README.md